body {
    background-color: #fff;
    margin: 0;
    /*font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;*/
}

header {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 2.5vw;
    padding-top: 1.8vw;
    padding-bottom: 2.5vw;
}

.hight-content {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5vw;
}

.hight-content-title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-left: -36px;
}

.hight-content-title > li > .content-title, a {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

a {
    cursor: pointer;
}

.main-content-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: -36px;
}

.main-content-info > li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.main-content {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 8vw;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #00B2FC;
    border-radius: 10px;
    color: #fff;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 6vw;
}

.left-info {
    margin-left: 3.8vw;
}

.left-content-box-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    width: 300px;
    height: 80px;
    margin-top: 4vw;
    border-radius: 15px;
}

select {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    width: 300px;
    height: 80px;
    margin-bottom: 4vw;
    border-radius: 15px;
}

.content-box-description {
    line-height: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.right-info {
    margin-right: 3.8vw;
}

.right-content-box-title {
    margin-top: 4.5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 300;
}

.right-content-box-result {
    line-height: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

footer {
    background-color: #008CFC;
}

.footer-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 2.5vw;
    padding-top: 1.8vw;
    padding-bottom: 2.5vw;
    margin-bottom: 0;
}

.footer-title > a {
    text-decoration: none;
    color: #fff;
}
