<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIDORS ARE NOT ALLOWED HERE</title>
</head>
<body>
    <style>
        body {
            margin: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        img {
            height: 100vh;
            width: 100vw;
        }
    </style>
    <a href="https://www.youtube.com/watch?v=rpAACOCMEPU">
        <img src="{{ url_for('static', filename='svg/404.jpeg') }}"/>
    </a>
</body>
</html>