<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/doc_style.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename="favicon.ico") }}" />
    <title>Documentation Page</title>
</head>
<body>
    <header>
        <h1 class="header-title">CPP Segmentation error</h1>
    </header>
    <section>
        <h1 class="main-content-title">Documentation</h1>
        <div class="content-box">
            <div class="left-content">
                <h1 class="left-content-title">Как это работает</h1>
                <p class="left-content-decription">Программа представляет собой веб<br>приложение, основной скрипт<br>которого написан на Python. Скрипт<br>работает по следующему принципу:<br>Загружается база данных, скрипт<br>получает значения из базы и<br>обрабатывает их согласно<br>написанной математической<br>модели</p>
            </div>
            <div class="right-content">
                <h1 class="right-content-title">Почему это полезно?</h1>
                <p class="right-content-description">Данный сервис по сути своей<br>является огромным бонусом для<br>предприятий, которые ведут закупки<br>в больших объемах. Это позволит<br>более эффективно вести<br>бухгалтерию и также снизит<br>расходы компании</p>
            </div>
        </div>
        <div class="main-content-lower">
            <a class="main-content-btn" href="">Try it!</a>
        </div>
    </section>
    <footer>
        <h1 class="footer-title"><a href="/index">Home Page</a></h1>
    </footer>
</body>
</html>
