<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/index_style.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename="favicon.ico") }}" />
</head>
<body>
    <header>
        <h1 class="header-title">CPP Segmentation error</h1>
    </header>
    <section>
        <div class="content-box">
            <h1 class="content-box-title">Попробуйте наш новый сервис</h1>
            <h2 class="content-box-second-title">Специально для бизнесса</h2>
            <p class="content-box-description">Предугадаем стоимость для закупки товара : )</p>
            <a class="content-box-btn" href="/work">Try it!</a>
        </div>
        <div class="team">
            <h1 class="team-title">Team</h1>
            <ul class="members">
                <li><a href="https://github.com/IamVirgoo", target="_blank">Karen Khachatryan</a></li>
                <li><a href="https://github.com/YHT97", target="_blank">Alexey Rymkin</a></li>
                <li><a href="https://gitlab.com/Vadim2422", target="_blank">Vadim Breev</a></li>
                <li><a href="https://gitlab.com/Hikolai1", target="_blank">Nikita Shkatulin</a></li>
            </ul>
        </div>
    </section>
    <footer>
        <h1 class="footer-title"><a href="/doc">About Programm</a></h1>
    </footer>
</body>
</html>
