<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/work_style.css") }}">
    <title>Work Page</title>
</head>
<body>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script
    src="{{ url_for('static', filename="js/selectable.js") }}">
    </script>
    <header>
        <h1 class="header-title">CPP Segmentation error</h1>
    </header>
    <section>
        <div class="hight-content">
            <ul class="hight-content-title">
                <li><h1 class="content-title">Инструкция</h1></li>
                <li><a href="">Главная страница</a></li>
            </ul>
        </div>
        <div class="main-content">
            <ul class="main-content-info">
                <li>Загрузите файл</li>
                <li><img src="{{ url_for('static', filename='/svg/icon.svg') }}" alt="Svg not loaded"></li>
                <li>Выберите товар</li>
                <li><img src="{{ url_for('static', filename='/svg/icon.svg') }}" alt="Svg not loaded"></li>
                <li>Получите результат :)</li>
            </ul>
        </div>
        <div class="content-box">
            <div class="left-info">
                <button class="left-content-box-btn">Выберите файл</button>
                <p class="content-box-description">Файл должен представлять собой<br>именнованную базу данных с<br>расширением .svc</p>
                <!--<button class="left-content-box-btn-2">Название товара</button>-->
                <select  name="Название товара" required id="select-val">
                    <option value="1">Выберите товар</option>
                    <option value="Зуб 1085.52.05-1">Зуб 1085.52.05-1</option>
                    <option value="Колесо 3519.05.02.006">Колесо 3519.05.02.006</option>
                    <option value="Вал 3536.11.01.002">Вал 3536.11.01.002</option>
                    <option value="Вал 3519.05.02.083">Вал 3519.05.02.083</option>
                    <option value="Ось 3519.21.00.025">Ось 3519.21.00.025</option>
                    <option value="Коромысло 3519.21.00.023">Коромысло 3519.21.00.023</option>
                    <option value="Вал 3572.05.10.200">Вал 3572.05.10.200</option>
                    <option value="Вант стрелы 00.1606.49.1">Вант стрелы 00.1606.49.1 </option>
                    <option value="Засов 3532.01.02.007">Засов 3532.01.02.007</option>
                    <option value="Вал 3572.05.10.150">Вал 3572.05.10.150</option>
                    <option value="Сателлит 3536.11.01.028">Сателлит 3536.11.01.028</option>
                    <option value="ВАЛ-ШЕСТЕРНЯ 3536.11.01.002">ВАЛ-ШЕСТЕРНЯ 3536.11.01.002 </option>
                    <option value="Вал 3532.10.01.011">Вал 3532.10.01.011</option>
                    <option value="Зуб  1085.52.05-1">Зуб  1085.52.05-1</option>
                    <option value="Колесо 3519.05.02.003">Колесо 3519.05.02.003</option>
                    <option value="Ось 3519.05.02.082">Ось 3519.05.02.082</option>
                    <option value="Ось 3519.05.02.081">Ось 3519.05.02.081</option>
                    <option value="Колесо 3519.05.02.061">Колесо 3519.05.02.061</option>
                    <option value="Вал 3519.05.02.007">Вал 3519.05.02.007</option>
                    <option value="Ось 3536.03.00.001">Ось 3536.03.00.001</option>
                    <option value="Коромысло 3537.25.00.500">Коромысло 3537.25.00.500 </option>
                </select>
            </div>
            <div class="right-info">
                <h1 class="right-content-box-title">Результат</h1>
                <p class="right-content-box-result" >Выбранный товар в<br>ближайшее время будет<br>стоить 
                    <strong id="exchange_price"></strong>$</p>
            </div>
        </div>
    </section>
    <footer>
        <h1 class="footer-title"><a href="/doc">About Programm</a></h1>
    </footer>
</body>
</html>
